<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dianping.ba.es.demo.generate.dao.DPAccountMapper" >
  <resultMap id="BaseResultMap" type="com.dianping.ba.es.demo.generate.dao.po.DPAccount" >
    <id column="Id" property="id" jdbcType="INTEGER" />
    <result column="AccountType" property="accountType" jdbcType="TINYINT" />
    <result column="Name" property="name" jdbcType="VARCHAR" />
    <result column="IDNumber" property="IDNumber" jdbcType="VARCHAR" />
    <result column="EmployeeNumber" property="employeeNumber" jdbcType="VARCHAR" />
    <result column="LoginId" property="loginId" jdbcType="INTEGER" />
    <result column="SysStatus" property="sysStatus" jdbcType="TINYINT" />
    <result column="Gmail" property="gmail" jdbcType="VARCHAR" />
    <result column="GmailStatus" property="gmailStatus" jdbcType="TINYINT" />
    <result column="AD" property="AD" jdbcType="VARCHAR" />
    <result column="ADStatus" property="ADStatus" jdbcType="TINYINT" />
    <result column="AddTime" property="addTime" jdbcType="TIMESTAMP" />
    <result column="UpdateTime" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="Gmail2" property="gmail2" jdbcType="VARCHAR" />
    <result column="Gmail2Status" property="gmail2Status" jdbcType="TINYINT" />
    <result column="IsFrozen" property="isFrozen" jdbcType="TINYINT" />
    <result column="PasswordUpdateTime" property="passwordUpdateTime" jdbcType="TIMESTAMP" />
    <result column="Office1" property="office1" jdbcType="VARCHAR" />
    <result column="Office1Status" property="office1Status" jdbcType="TINYINT" />
    <result column="Office1LicenseType" property="office1LicenseType" jdbcType="TINYINT" />
    <result column="Office2" property="office2" jdbcType="VARCHAR" />
    <result column="Office2Status" property="office2Status" jdbcType="TINYINT" />
    <result column="Office2LicenseType" property="office2LicenseType" jdbcType="TINYINT" />
    <result column="Office2Type" property="office2Type" jdbcType="TINYINT" />
    <result column="CtripCard" property="ctripCard" jdbcType="VARCHAR" />
    <result column="PauseTime" property="pauseTime" jdbcType="TIMESTAMP" />
    <result column="TransferEmail" property="transferEmail" jdbcType="VARCHAR" />
    <result column="DeleteTime" property="deleteTime" jdbcType="TIMESTAMP" />
    <result column="Encrypt" property="encrypt" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    Id, AccountType, Name, IDNumber, EmployeeNumber, LoginId, SysStatus, Gmail, GmailStatus, 
    AD, ADStatus, AddTime, UpdateTime, Gmail2, Gmail2Status, IsFrozen, PasswordUpdateTime, 
    Office1, Office1Status, Office1LicenseType, Office2, Office2Status, Office2LicenseType, 
    Office2Type, CtripCard, PauseTime, TransferEmail, DeleteTime, Encrypt
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.dianping.ba.es.demo.generate.dao.po.DPAccountExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from DP_Account
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from DP_Account
    where Id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from DP_Account
    where Id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.dianping.ba.es.demo.generate.dao.po.DPAccountExample" >
    delete from DP_Account
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.dianping.ba.es.demo.generate.dao.po.DPAccount" >
    insert into DP_Account (Id, AccountType, Name, 
      IDNumber, EmployeeNumber, LoginId, 
      SysStatus, Gmail, GmailStatus, 
      AD, ADStatus, AddTime, 
      UpdateTime, Gmail2, Gmail2Status, 
      IsFrozen, PasswordUpdateTime, Office1, 
      Office1Status, Office1LicenseType, Office2, 
      Office2Status, Office2LicenseType, Office2Type, 
      CtripCard, PauseTime, TransferEmail, 
      DeleteTime, Encrypt)
    values (#{id,jdbcType=INTEGER}, #{accountType,jdbcType=TINYINT}, #{name,jdbcType=VARCHAR}, 
      #{IDNumber,jdbcType=VARCHAR}, #{employeeNumber,jdbcType=VARCHAR}, #{loginId,jdbcType=INTEGER}, 
      #{sysStatus,jdbcType=TINYINT}, #{gmail,jdbcType=VARCHAR}, #{gmailStatus,jdbcType=TINYINT}, 
      #{AD,jdbcType=VARCHAR}, #{ADStatus,jdbcType=TINYINT}, #{addTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{gmail2,jdbcType=VARCHAR}, #{gmail2Status,jdbcType=TINYINT}, 
      #{isFrozen,jdbcType=TINYINT}, #{passwordUpdateTime,jdbcType=TIMESTAMP}, #{office1,jdbcType=VARCHAR}, 
      #{office1Status,jdbcType=TINYINT}, #{office1LicenseType,jdbcType=TINYINT}, #{office2,jdbcType=VARCHAR}, 
      #{office2Status,jdbcType=TINYINT}, #{office2LicenseType,jdbcType=TINYINT}, #{office2Type,jdbcType=TINYINT}, 
      #{ctripCard,jdbcType=VARCHAR}, #{pauseTime,jdbcType=TIMESTAMP}, #{transferEmail,jdbcType=VARCHAR}, 
      #{deleteTime,jdbcType=TIMESTAMP}, #{encrypt,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.dianping.ba.es.demo.generate.dao.po.DPAccount" >
    insert into DP_Account
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        Id,
      </if>
      <if test="accountType != null" >
        AccountType,
      </if>
      <if test="name != null" >
        Name,
      </if>
      <if test="IDNumber != null" >
        IDNumber,
      </if>
      <if test="employeeNumber != null" >
        EmployeeNumber,
      </if>
      <if test="loginId != null" >
        LoginId,
      </if>
      <if test="sysStatus != null" >
        SysStatus,
      </if>
      <if test="gmail != null" >
        Gmail,
      </if>
      <if test="gmailStatus != null" >
        GmailStatus,
      </if>
      <if test="AD != null" >
        AD,
      </if>
      <if test="ADStatus != null" >
        ADStatus,
      </if>
      <if test="addTime != null" >
        AddTime,
      </if>
      <if test="updateTime != null" >
        UpdateTime,
      </if>
      <if test="gmail2 != null" >
        Gmail2,
      </if>
      <if test="gmail2Status != null" >
        Gmail2Status,
      </if>
      <if test="isFrozen != null" >
        IsFrozen,
      </if>
      <if test="passwordUpdateTime != null" >
        PasswordUpdateTime,
      </if>
      <if test="office1 != null" >
        Office1,
      </if>
      <if test="office1Status != null" >
        Office1Status,
      </if>
      <if test="office1LicenseType != null" >
        Office1LicenseType,
      </if>
      <if test="office2 != null" >
        Office2,
      </if>
      <if test="office2Status != null" >
        Office2Status,
      </if>
      <if test="office2LicenseType != null" >
        Office2LicenseType,
      </if>
      <if test="office2Type != null" >
        Office2Type,
      </if>
      <if test="ctripCard != null" >
        CtripCard,
      </if>
      <if test="pauseTime != null" >
        PauseTime,
      </if>
      <if test="transferEmail != null" >
        TransferEmail,
      </if>
      <if test="deleteTime != null" >
        DeleteTime,
      </if>
      <if test="encrypt != null" >
        Encrypt,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="accountType != null" >
        #{accountType,jdbcType=TINYINT},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="IDNumber != null" >
        #{IDNumber,jdbcType=VARCHAR},
      </if>
      <if test="employeeNumber != null" >
        #{employeeNumber,jdbcType=VARCHAR},
      </if>
      <if test="loginId != null" >
        #{loginId,jdbcType=INTEGER},
      </if>
      <if test="sysStatus != null" >
        #{sysStatus,jdbcType=TINYINT},
      </if>
      <if test="gmail != null" >
        #{gmail,jdbcType=VARCHAR},
      </if>
      <if test="gmailStatus != null" >
        #{gmailStatus,jdbcType=TINYINT},
      </if>
      <if test="AD != null" >
        #{AD,jdbcType=VARCHAR},
      </if>
      <if test="ADStatus != null" >
        #{ADStatus,jdbcType=TINYINT},
      </if>
      <if test="addTime != null" >
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="gmail2 != null" >
        #{gmail2,jdbcType=VARCHAR},
      </if>
      <if test="gmail2Status != null" >
        #{gmail2Status,jdbcType=TINYINT},
      </if>
      <if test="isFrozen != null" >
        #{isFrozen,jdbcType=TINYINT},
      </if>
      <if test="passwordUpdateTime != null" >
        #{passwordUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="office1 != null" >
        #{office1,jdbcType=VARCHAR},
      </if>
      <if test="office1Status != null" >
        #{office1Status,jdbcType=TINYINT},
      </if>
      <if test="office1LicenseType != null" >
        #{office1LicenseType,jdbcType=TINYINT},
      </if>
      <if test="office2 != null" >
        #{office2,jdbcType=VARCHAR},
      </if>
      <if test="office2Status != null" >
        #{office2Status,jdbcType=TINYINT},
      </if>
      <if test="office2LicenseType != null" >
        #{office2LicenseType,jdbcType=TINYINT},
      </if>
      <if test="office2Type != null" >
        #{office2Type,jdbcType=TINYINT},
      </if>
      <if test="ctripCard != null" >
        #{ctripCard,jdbcType=VARCHAR},
      </if>
      <if test="pauseTime != null" >
        #{pauseTime,jdbcType=TIMESTAMP},
      </if>
      <if test="transferEmail != null" >
        #{transferEmail,jdbcType=VARCHAR},
      </if>
      <if test="deleteTime != null" >
        #{deleteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="encrypt != null" >
        #{encrypt,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.dianping.ba.es.demo.generate.dao.po.DPAccountExample" resultType="java.lang.Integer" >
    select count(*) from DP_Account
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update DP_Account
    <set >
      <if test="record.id != null" >
        Id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.accountType != null" >
        AccountType = #{record.accountType,jdbcType=TINYINT},
      </if>
      <if test="record.name != null" >
        Name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.IDNumber != null" >
        IDNumber = #{record.IDNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.employeeNumber != null" >
        EmployeeNumber = #{record.employeeNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.loginId != null" >
        LoginId = #{record.loginId,jdbcType=INTEGER},
      </if>
      <if test="record.sysStatus != null" >
        SysStatus = #{record.sysStatus,jdbcType=TINYINT},
      </if>
      <if test="record.gmail != null" >
        Gmail = #{record.gmail,jdbcType=VARCHAR},
      </if>
      <if test="record.gmailStatus != null" >
        GmailStatus = #{record.gmailStatus,jdbcType=TINYINT},
      </if>
      <if test="record.AD != null" >
        AD = #{record.AD,jdbcType=VARCHAR},
      </if>
      <if test="record.ADStatus != null" >
        ADStatus = #{record.ADStatus,jdbcType=TINYINT},
      </if>
      <if test="record.addTime != null" >
        AddTime = #{record.addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        UpdateTime = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.gmail2 != null" >
        Gmail2 = #{record.gmail2,jdbcType=VARCHAR},
      </if>
      <if test="record.gmail2Status != null" >
        Gmail2Status = #{record.gmail2Status,jdbcType=TINYINT},
      </if>
      <if test="record.isFrozen != null" >
        IsFrozen = #{record.isFrozen,jdbcType=TINYINT},
      </if>
      <if test="record.passwordUpdateTime != null" >
        PasswordUpdateTime = #{record.passwordUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.office1 != null" >
        Office1 = #{record.office1,jdbcType=VARCHAR},
      </if>
      <if test="record.office1Status != null" >
        Office1Status = #{record.office1Status,jdbcType=TINYINT},
      </if>
      <if test="record.office1LicenseType != null" >
        Office1LicenseType = #{record.office1LicenseType,jdbcType=TINYINT},
      </if>
      <if test="record.office2 != null" >
        Office2 = #{record.office2,jdbcType=VARCHAR},
      </if>
      <if test="record.office2Status != null" >
        Office2Status = #{record.office2Status,jdbcType=TINYINT},
      </if>
      <if test="record.office2LicenseType != null" >
        Office2LicenseType = #{record.office2LicenseType,jdbcType=TINYINT},
      </if>
      <if test="record.office2Type != null" >
        Office2Type = #{record.office2Type,jdbcType=TINYINT},
      </if>
      <if test="record.ctripCard != null" >
        CtripCard = #{record.ctripCard,jdbcType=VARCHAR},
      </if>
      <if test="record.pauseTime != null" >
        PauseTime = #{record.pauseTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.transferEmail != null" >
        TransferEmail = #{record.transferEmail,jdbcType=VARCHAR},
      </if>
      <if test="record.deleteTime != null" >
        DeleteTime = #{record.deleteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.encrypt != null" >
        Encrypt = #{record.encrypt,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update DP_Account
    set Id = #{record.id,jdbcType=INTEGER},
      AccountType = #{record.accountType,jdbcType=TINYINT},
      Name = #{record.name,jdbcType=VARCHAR},
      IDNumber = #{record.IDNumber,jdbcType=VARCHAR},
      EmployeeNumber = #{record.employeeNumber,jdbcType=VARCHAR},
      LoginId = #{record.loginId,jdbcType=INTEGER},
      SysStatus = #{record.sysStatus,jdbcType=TINYINT},
      Gmail = #{record.gmail,jdbcType=VARCHAR},
      GmailStatus = #{record.gmailStatus,jdbcType=TINYINT},
      AD = #{record.AD,jdbcType=VARCHAR},
      ADStatus = #{record.ADStatus,jdbcType=TINYINT},
      AddTime = #{record.addTime,jdbcType=TIMESTAMP},
      UpdateTime = #{record.updateTime,jdbcType=TIMESTAMP},
      Gmail2 = #{record.gmail2,jdbcType=VARCHAR},
      Gmail2Status = #{record.gmail2Status,jdbcType=TINYINT},
      IsFrozen = #{record.isFrozen,jdbcType=TINYINT},
      PasswordUpdateTime = #{record.passwordUpdateTime,jdbcType=TIMESTAMP},
      Office1 = #{record.office1,jdbcType=VARCHAR},
      Office1Status = #{record.office1Status,jdbcType=TINYINT},
      Office1LicenseType = #{record.office1LicenseType,jdbcType=TINYINT},
      Office2 = #{record.office2,jdbcType=VARCHAR},
      Office2Status = #{record.office2Status,jdbcType=TINYINT},
      Office2LicenseType = #{record.office2LicenseType,jdbcType=TINYINT},
      Office2Type = #{record.office2Type,jdbcType=TINYINT},
      CtripCard = #{record.ctripCard,jdbcType=VARCHAR},
      PauseTime = #{record.pauseTime,jdbcType=TIMESTAMP},
      TransferEmail = #{record.transferEmail,jdbcType=VARCHAR},
      DeleteTime = #{record.deleteTime,jdbcType=TIMESTAMP},
      Encrypt = #{record.encrypt,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.dianping.ba.es.demo.generate.dao.po.DPAccount" >
    update DP_Account
    <set >
      <if test="accountType != null" >
        AccountType = #{accountType,jdbcType=TINYINT},
      </if>
      <if test="name != null" >
        Name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="IDNumber != null" >
        IDNumber = #{IDNumber,jdbcType=VARCHAR},
      </if>
      <if test="employeeNumber != null" >
        EmployeeNumber = #{employeeNumber,jdbcType=VARCHAR},
      </if>
      <if test="loginId != null" >
        LoginId = #{loginId,jdbcType=INTEGER},
      </if>
      <if test="sysStatus != null" >
        SysStatus = #{sysStatus,jdbcType=TINYINT},
      </if>
      <if test="gmail != null" >
        Gmail = #{gmail,jdbcType=VARCHAR},
      </if>
      <if test="gmailStatus != null" >
        GmailStatus = #{gmailStatus,jdbcType=TINYINT},
      </if>
      <if test="AD != null" >
        AD = #{AD,jdbcType=VARCHAR},
      </if>
      <if test="ADStatus != null" >
        ADStatus = #{ADStatus,jdbcType=TINYINT},
      </if>
      <if test="addTime != null" >
        AddTime = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        UpdateTime = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="gmail2 != null" >
        Gmail2 = #{gmail2,jdbcType=VARCHAR},
      </if>
      <if test="gmail2Status != null" >
        Gmail2Status = #{gmail2Status,jdbcType=TINYINT},
      </if>
      <if test="isFrozen != null" >
        IsFrozen = #{isFrozen,jdbcType=TINYINT},
      </if>
      <if test="passwordUpdateTime != null" >
        PasswordUpdateTime = #{passwordUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="office1 != null" >
        Office1 = #{office1,jdbcType=VARCHAR},
      </if>
      <if test="office1Status != null" >
        Office1Status = #{office1Status,jdbcType=TINYINT},
      </if>
      <if test="office1LicenseType != null" >
        Office1LicenseType = #{office1LicenseType,jdbcType=TINYINT},
      </if>
      <if test="office2 != null" >
        Office2 = #{office2,jdbcType=VARCHAR},
      </if>
      <if test="office2Status != null" >
        Office2Status = #{office2Status,jdbcType=TINYINT},
      </if>
      <if test="office2LicenseType != null" >
        Office2LicenseType = #{office2LicenseType,jdbcType=TINYINT},
      </if>
      <if test="office2Type != null" >
        Office2Type = #{office2Type,jdbcType=TINYINT},
      </if>
      <if test="ctripCard != null" >
        CtripCard = #{ctripCard,jdbcType=VARCHAR},
      </if>
      <if test="pauseTime != null" >
        PauseTime = #{pauseTime,jdbcType=TIMESTAMP},
      </if>
      <if test="transferEmail != null" >
        TransferEmail = #{transferEmail,jdbcType=VARCHAR},
      </if>
      <if test="deleteTime != null" >
        DeleteTime = #{deleteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="encrypt != null" >
        Encrypt = #{encrypt,jdbcType=VARCHAR},
      </if>
    </set>
    where Id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dianping.ba.es.demo.generate.dao.po.DPAccount" >
    update DP_Account
    set AccountType = #{accountType,jdbcType=TINYINT},
      Name = #{name,jdbcType=VARCHAR},
      IDNumber = #{IDNumber,jdbcType=VARCHAR},
      EmployeeNumber = #{employeeNumber,jdbcType=VARCHAR},
      LoginId = #{loginId,jdbcType=INTEGER},
      SysStatus = #{sysStatus,jdbcType=TINYINT},
      Gmail = #{gmail,jdbcType=VARCHAR},
      GmailStatus = #{gmailStatus,jdbcType=TINYINT},
      AD = #{AD,jdbcType=VARCHAR},
      ADStatus = #{ADStatus,jdbcType=TINYINT},
      AddTime = #{addTime,jdbcType=TIMESTAMP},
      UpdateTime = #{updateTime,jdbcType=TIMESTAMP},
      Gmail2 = #{gmail2,jdbcType=VARCHAR},
      Gmail2Status = #{gmail2Status,jdbcType=TINYINT},
      IsFrozen = #{isFrozen,jdbcType=TINYINT},
      PasswordUpdateTime = #{passwordUpdateTime,jdbcType=TIMESTAMP},
      Office1 = #{office1,jdbcType=VARCHAR},
      Office1Status = #{office1Status,jdbcType=TINYINT},
      Office1LicenseType = #{office1LicenseType,jdbcType=TINYINT},
      Office2 = #{office2,jdbcType=VARCHAR},
      Office2Status = #{office2Status,jdbcType=TINYINT},
      Office2LicenseType = #{office2LicenseType,jdbcType=TINYINT},
      Office2Type = #{office2Type,jdbcType=TINYINT},
      CtripCard = #{ctripCard,jdbcType=VARCHAR},
      PauseTime = #{pauseTime,jdbcType=TIMESTAMP},
      TransferEmail = #{transferEmail,jdbcType=VARCHAR},
      DeleteTime = #{deleteTime,jdbcType=TIMESTAMP},
      Encrypt = #{encrypt,jdbcType=VARCHAR}
    where Id = #{id,jdbcType=INTEGER}
  </update>
</mapper>